.cards-content {    
    height: auto;
    width: 100%;
    background-color: #23222F;
    display: flex;
    flex-direction: column;
    
}

.cards-back {
    width: 100%;
    height: 30px;
    background-color: #23222F;
}

.cards-back a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.cards-title {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    background-color: #23222F;
}

.cards-display {
    height: auto;
    flex-direction: row;
    width: 100%;
    background-color: #23222F;
    
}

.cards-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-search form {
    display: inline-block;
}

.cards-search input {
    font-size: 30px;
}

.cards-search button {
    font-size: 30px;
}

.cards-statistics {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.cards-title-and-number {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.cards-statistics-title {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.cards-statistics-title p:first-child {
    font-size: 30px;
}

.cards-statistics-title p:not(:first-child) {
    font-size: 20px;
}

.cards-statistics-number {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.cards-statistics-number p:first-child {
    font-size: 30px;
}

.cards-statistics-number p:not(:first-child) {
    font-size: 20px;
}

.study-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.study-button button {
    width: 180px;
    height: 50px;
    border-radius: 10px;
    background-color: #DD8593;
    color: white;
    font-size: 20px;
}

.add-cards {
    position: fixed;
    width: 700px;
    height: 800px;
    top: 50%;
    left: 50%;
    margin-top: -400px; /* Negative half of height. */
    margin-left: -350px;
    background-color: #23222F;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.add-cards form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-cards p {
    font-size: 30px;
    color: white;
}

.add-cards input[type="text"] {
    width: 100%;
    font-size: 30px;
}

.add-cards label {
    margin-top: 20px;
    display: inline-block;
    color: white;
}

.add-cards .close-button {
    position: absolute;
    height: 25px;
    width: 25px;
    left:100%;
    margin-left: -25px;
    text-decoration: center;
}

.add-cards input[type="submit"] {
    height: 50px;
    width: 100px;
    text-decoration: center;
    font-size: 30px;
    margin-top: 50px;
}

.add-card-content form {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.add-card-input {
    display: flex;
    flex-direction: row;
}

.add-front-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-back-cards {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.cards-container {
    display: inline-block;
    background-color: #999999;
    width: 350px;
    height: 300px;
    border-radius: 5px;
    margin: 20px 70px 30px 70px;
}

.cards-container div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.cards-display {
    display: flex;
    flex-direction: row;
}

