.decks-content {    
    height: auto;
    width: 100%;
    background-color: #23222F;
    display: flex;
    flex-direction: column;
    
}

.decks-back {
    width: 100%;
    height: 30px;
    background-color: #23222F;
}

.decks-back a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.decks-title {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    background-color: #23222F;
}

.decks-display {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    background-color: #23222F;
    
}

.decks-cards-container {
    display: inline-block;
    background-color: #999999;
    width: 300px;
    height: 420px;
    border-radius: 10px;
    margin: 20px 70px 30px 70px;
    padding: 15px;
    box-shadow: 10px 10px 5px rgba(153, 153, 153, 0.158) ;
}

.decks-plus{
    display: inline-block;
    background-color: #999999;
    width: 300px;
    height: 420px;
    border-radius: 10px;
    margin: 20px 70px 30px 70px;
    padding: 15px;
    box-shadow: 10px 10px 5px rgba(153, 153, 153, 0.158) ;
}

.decks-cards-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    
}

.decks-cards-name a {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    
}

.decks-cards-content {
    width: 100%;
    height: 35%;
    color: black;
    font-size: 12px;
    word-wrap: break-word;
}

.decks-cards-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
    font-size: 28px;
}

.decks-cards-info i{
    font-size: 22px;
    padding-right: 10px;
}

.decks-cards-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 7px;
}

.decks-cards-date {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 7px;
}

a:hover {
    text-decoration: underline;
}

.decks-search {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
}

.decks-search form {
    display: inline-block;
}

.decks-search input {
    font-size: 30px;
    background-color: #23222F;
    border: none;
    color: white;
}

.fa-magnifying-glass{
    color: white;
    font-size: 30px;
}

.fa-magnifying-glass:hover {
    cursor: pointer;
}

.fa-plus {
    color: #23222F;
    font-size: 70px;
}
.fa-plus:hover {
    color: white ;
    cursor: pointer;
}

.decks-search button {
    font-size: 30px;
}

.add-decks {
    position: fixed;
    width: 700px;
    height: 650px;
    top: 50%;
    left: 50%;
    margin-top: -325px; /* Negative half of height. */
    margin-left: -350px;
    background-color: #504f4f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-decks form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

.add-decks p {
    font-size: 30px;
    color: white;
}

.input-in4 input[type="text"] {
    width: 400px;
    font-size: 32px;
    border-radius: 5px;
    border: none;
    height: 78px;

}
.input-in4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    
}
.input-in4 span {
    margin-top: 30px;
    color: white;
    font-size: 30px;
    padding-bottom: 25px;
    
}

.add-decks .close-button {
    position: absolute;
    height: 25px;
    width: 25px;
    left: 100%;
    margin-left: -25px;
    text-decoration: center;
    border-radius: 5px;
}

.add-decks input[type="submit"] {
    height: 50px;
    width: 100px;
    text-decoration: center;
    font-size: 30px;
    margin-top: 25px;
    background-color: #DD8593;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Akaya Telivigala', cursive;
}

.add-decks input[type="submit"]:active{
    color:#23222F;
}


.edit-decks {
    position: fixed;
    width: 700px;
    height: 650px;
    top: 50%;
    left: 50%;
    margin-top: -325px; /* Negative half of height. */
    margin-left: -350px;
    background-color: #504f4f;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #99999928 ;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-decks form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-decks p {
    font-size: 30px;
    color: white;
    font-weight: 600;
}

.edit-decks .close-button {
    position: absolute;
    height: 25px;
    width: 25px;
    left:100%;
    margin-left: -25px;
    text-decoration: center;
    border-radius: 5px;
}

.edit-decks input[type="submit"] {
    height: 50px;
    width: 100px;
    text-decoration: center;
    font-size: 30px;
    margin-top: 30px;
    background-color: #DD8593;
    color: white;
    border-radius: 5px;
    border: none;
    font-family: 'Akaya Telivigala', cursive;
}

.decks-plus button{
    width: 90px;
    height: 90px;
    background-color: #999999;
    border: none;
    margin-left: 80px;
    margin-top: 25px;
}

.handle-icon  {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
.handle-icon i{
    width: 38px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    background-color: #504f4f;
    color: white;
    border-radius: 5px;
}
.handle-icon i:hover{
    color: #DD8593;
    cursor: pointer;
}