.decks-content {    
    height: auto;
    width: 100%;
    background-color: #23222F;
    display: flex;
    flex-direction: column;
    
}

.decks-back {
    width: 100%;
    height: 30px;
    background-color: #23222F;
}

.decks-back a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.decks-title {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    background-color: #23222F;
}

.decks-display {
    height: auto;
    flex-direction: row;
    width: 100%;
    background-color: #23222F;
    
}

.decks-cards-container {
    display: inline-block;
    background-color: #999999;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    margin: 20px 70px 30px 70px;
}

.decks-cards-name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    
}

.decks-cards-name a {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    
}

.decks-cards-content {
    width: 100%;
    height: 40%;
    color: black;
    font-size: 10px;
    word-wrap: break-word;
}

.decks-cards-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 20%;
}

.decks-cards-number {
    font-size: 7px;
}

.decks-cards-date {
    font-size: 7px;
}

a:hover {
    text-decoration: underline;
}

.decks-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.decks-search form {
    display: inline-block;
}

.decks-search input {
    font-size: 30px;
}

.decks-search button {
    font-size: 30px;
}

.add-decks {
    position: fixed;
    width: 400px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px; /* Negative half of height. */
    margin-left: -200px;
    background-color: #23222F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-decks form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-decks p {
    font-size: 30px;
    color: white;
}

.add-decks input[type="text"] {
    width: 100%;
    font-size: 30px;
}

.add-decks label {
    margin-top: 50px;
    display: inline-block;
    color: white;
}

.add-decks .close-button {
    position: absolute;
    height: 25px;
    width: 25px;
    left:100%;
    margin-left: -25px;
    text-decoration: center;
}

.add-decks input[type="submit"] {
    height: 50px;
    width: 100px;
    text-decoration: center;
    font-size: 30px;
    margin-top: 50px;
}

.handle-icon img {
    width: 20px;
    height: 20px;
}