html, body{
    font-family: 'Akaya Telivigala', cursive;
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}

.container-fluid {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2A3A;
}

.header-menu {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    color: pink;
    font-size: 60px;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav li {
    display: inline;
    font-size: 30px;
}

.navbar-nav li a {
    display: inline;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.navbar-nav li a:hover {
    text-decoration: underline;
}

.header-signin {
    width: 20%;
    font-size: 30px;
    color: white;
}

.header-signin a {
    color: white;
    text-decoration: none;
}

.content-container {
    position: relative;
    height: 700px;
    width: 100%;
}

.content-picture {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.content-btn {
    background-color: pink;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.content-btn a {
    text-decoration: none;
    color: white;
}

.learning-container {
    position: relative;
    top: 0px;
    width: 100%;
    height: 350px;
    background-color:#23222F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.learning-content {
    width: 33.3%;
    height: 100%;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus-container {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #23222F;
    color: white;
    height: 200px;
    width: 100%;
}

.contactus-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B2A3A;
    color: white;
    height: 130px;
    width: 100%;
}

.footer-container h1 {
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}