html, body{
    font-family: 'Akaya Telivigala', cursive;
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}

:root{
    --primary-color: #23222F;
    --pre-color: #2B2A3A ;
    --text-color: #ffffff;
    --second-color: #DD8593;
}

.container-fluid {
    position: relative;
    top: 0px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2A3A;
}

.header-menu {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo {
    color: pink;
    font-size: 60px;
    color: var(--second-color);
    font-size: 60px;
    font-family: 'Pacifico', cursive; 
    padding-left: 30px;
}

.navbar-nav {
    width: 100%;
}

.navbar-nav li {
    display: inline;
    font-size: 30px;
}

.navbar-nav li a {
    display: inline;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.navbar-nav li a:hover {
    text-decoration: underline;
}

.header-signin {
    width: 20%;
    font-size: 30px;
    color: white;
}

.header-signin a {
    color: white;
    text-decoration: none;
}

.content-container {
    position: relative;
    height: 700px;
    width: 100%;
}

.content-picture {
    width: 100%;
    height: 100%;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 50px;
    text-align: center;
}

.content-btn {
    background-color: pink;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    font-size: 20px;
}

.content-btn a {
    text-decoration: none;
    color: white;
}

.learning-container {
    position: relative;
    top: 0px;
    width: 100%;
    height: 350px;
    background-color:#23222F;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.learning-content {
    width: 33.3%;
    height: 100%;
    font-size: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #2B2A3A;
    color: white;
    height: 130px;
    width: 100%;
}

.footer-container h1 {
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

.user-info {
    display: flex;                          
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 300px;      
    display: none;                                                                                                                     
}

.user-info div span, .user-info div a{
    font-size: 20px;
    color: white;
}

.user-displayname {
    display: inline-block;
}

.about{
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: 'Ubuntu', sans-serif;
}
.problem{
    display: flex;
    padding: 2rem 2rem 4rem 2rem;
}
.problem img{
    width: 600px;
    height: 260px;
}
.problem-content{
    padding-left: 2rem;
    position: relative;
    text-align: justify;
}
.problem-content button{
    position: absolute;
    left: 50%;
    
}
.problem-text{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
}
.solution{
    display: flex;
    padding: 1rem 2rem 4rem 2rem;
}
.solution-content{
    padding-right: 2rem;
    margin-top: 4rem;
    position: relative;
    text-align: justify;
}
.solution-content button{
    position: absolute;
    left: 50%;
}
.read-btn{
    background-color: var(--second-color);
    font-family: 'Akaya Telivigala',cursive;
    font-size: 24px;
    border: none;
    border-radius: 5px;
}
.read-btn a{
    color: var(--text-color);
    text-decoration: none;
}
.read-btn a:hover{
    color: var(--text-color);
}

.contactus {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 200px;
}

.social a {
    font-size: 35px;
    margin-left: 10px;
    color: white;
}

.info-footer {
    margin-left: 30px;
    color: white;
}

.info-footer a {
    text-decoration: none;
    color: white;
}

.fa-box-archive{
    font-size: 600%;
}
