/* .signin-container{
    font-family: 'Akaya Telivigala', cursive;
    width: 100%;
    height: 100%;
} */
.signin-content-container {
    width: 100%;
    height: 650px;
    background-color: #23222F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signin-title h1 {
    color: white;
    font-size: 50px;
}

.signin-content {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signin-form {
    width: 50%;
    height: 100%;
    text-align: center;
}

.signin-form form {
    display: inline-block;
}

.signin-form form input[type="text"], 
.signin-form form input[type="password"] {
    width: 100%;
    padding: 20px;
    padding-left: 75px;
    font-size: 38px;
    border: none;
    border-bottom: 2px solid white;
    background-color: #23222F;
    color: white;
    margin-top: 20px;
}

.hihi{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fa-user-large  {
    position: absolute;
    left: 0;
    font-size: 40px;
    color: white;
    padding-left: 15px;
}
.fa-lock {
    position: absolute;
    left: 0;
    color: white;
    padding-left: 15px;
    font-size: 40px;
    bottom: 30%;
}
.fa-eye{
    position: absolute;
    right: 0;
    color: white;
    font-size: 24px;
}
.remember-me {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.signin-form form div input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.signin-form form div h1 {
    font-size: 24px;
    color: white;
    margin-left: 5px;
}
::placeholder{
    color: #999;
    font-family: 'Akaya Telivigala', cursive;
}
.signin-form form input[type="submit"] {
    width: 120px;
    height: 60px;
    color: white;
    border-radius: 10px;
    font-size: 30px;
    background-color: var(--second-color);
    font-family: 'Akaya Telivigala', cursive;
    margin-top: 30px;
}

.signin-form form input[type="submit"]:hover{
    cursor: pointer;
}

.in4 a:hover {
    text-decoration: underline;
}

.in4 a {
    color: white;
    text-decoration: underline;
}

.eye-icon {
    position: absolute;
    right: 0px;
    color: white;
    font-size: 25px;
}

.eye-icon:hover {
    cursor: pointer;
}

.notify-p {
    font-size: 25px;
    color: white;   
}